.header {
  padding: 15px; /* some padding */
  text-align: center; /* center the text */
  background-color: darkslategrey; /* green background */
  color: white; /* white text color */
}

/* Increase the font size of the <h1> element */
.header h1 {
  font-size: 40px;
}

/* Main column */
.main {
  flex: 70%; /* Set the width of the main content */
  background-color: white; /* White background color */
  padding: 20px; /* Some padding */
}



.nav-link {
  font-size: 16px;
}

.navbar-nav {
  padding-left: 10px;
}

.active {
  color: #ff0000; /* Replace with your preferred color */
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');

.navbar {
  font-family: 'Montserrat', sans-serif;
}